.main{
    background-color: black;
    min-height: 100vh;
   font-family: 'IBM Plex Sans Condensed', sans-serif;;
}

.head{
    font-size: 70px;
}
img{
    height: 500px;
    width: 500px;
}

@media screen and (max-width: 600px) {
    img{
        height: 250px;
        width: 250px;
        margin-left: 5%;
    }
    .main{
        width: 100%;
    }
  }