

.gradient-custom {
/* fallback for old browsers */
background: #0a090a;
height: 130vh;
font-family: 'IBM Plex Sans Condensed', sans-serif;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgb(15, 15, 16), rgba(47, 47, 48, 0.63));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgb(13, 13, 13), rgb(57, 57, 58))
}
